.Started {
    text-align: center;
    padding-top: 120px;
    height:400px;
    background-color: #EDA409;
  }
  
  .Started  h1 {
    font-size:30px;

    color: #fff;
    margin-bottom: 20px;
  }
  
  .Started h3 {
    font-size: 18px;
    color:  #fff;
    margin-bottom: 20px;
  }
  
  button.open {
    background-color: #333;
    width:250px;
    height:50px;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button.open:hover {
    background-color: #1c1c1b;
  }
  

   /*styles for screens that are 900 pixels wide or less*/
 @media only screen and (max-width: 900px) {}




 /* Styles for screens with width between 320px and 480px */
@media screen and (min-width: 320px) and (max-width: 480px) {


  .Started {
   
    padding-top: 120px;
    height:300px;
    }

  .Started  h1 {
    font-size:20px;
    margin-top:-20px;
    margin-left:5px;

  }
  
  .Started h3 {
    width:70%;
    font-size: 12px;
    margin-left:50px;
   
  }
  button.open {
  margin-left:10px;
  font-size:10px;
  width:150px;
  margin-top:-5px;

  }
 }
